.add_adrs_container *{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  display: inline-block;
  font-family: sans-serif;
}
body{
background-color: #eee;
}
.add_adrs_container {
  width: 70%;
  margin: 0px auto;
  height: fit-content;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}
.add_adrs_header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid gray;
}
.back_sign {
  width: 4%;
  height: 40px;
  border-bottom: 1px solid gray;
}
.head  {
  height: 40px;
  position: relative;
  bottom: 10px;
}
.fr_name_box, .la_name_box, .ph_num, .ph_num_adtion {
  width: 48%;
  height: 80px;
  margin-top: 10px;
  padding: 10px;
}
.ph_num, .ph_num_adtion {
  width: 42.5%;
}
.ph_num_adtion {
  position: relative;
  bottom: 30px;
}
.fr_name, .la_name, .ph_title, .pre, .pre_adtion {
  width: 100%;
  height: 30px;
  color: gray;
  font-size: 14px;
}
.fr_name_input, .la_name_input, .ph_num_input, .ph_num_adtion_input {
  width: 90%;
  height: 30px;
  color: black;
  font-size: 16px;
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 1.5px solid gray;
}
.ph_num_adtion_input {
  position: relative;
  top: 30px;
}
.prefx, .prefx_adtion {
  width: 5%;
  height: 80px;
  padding: 5px;
  margin-top: 15px;
  position: relative;
  bottom: 10px;
}
.pre,.pre_adtion {
  color: gray;
  font-size: 14px;
}
.adrs_box, .adtion_info {
  width: 100%;
  height: 40px;
  margin-top: 20px;
}
.adrs_input, .adtion_info_input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px;
  border-bottom: 2px solid gray;
}
.region_box, .city_box {
  width: 48%;
  height: 80px;
  margin-top: 30px;
  padding: 5px;
}
.city_box {
  float: right;
}
.reg_title, .city_box_title {
  width: 100%;
  height: 20px;
  color: gray;
  font-size: 14px;
}
#select, #city_select {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 2px solid gray;
  font-size: 16px;
}
.add_adrs_save_btn {
  height: 40px;
  width: 70%;
  margin: 20px auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  outline: none;
  font-size: larger;
  cursor: pointer;
  border-radius: 10px;
  background-color: #c33;
  color: #fff;
}
.add_adrs_save_btn:hover {
  background-color: #2E4566;
  transition: 1s;
  position: relative;
  top: 2px;
}
.container{
  width: 80%;
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
  border-top-right-radius: 0px;
  padding: 15px;
  margin: 20px auto;
}
.container_header{
  background-color: #3f51b5;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
  display: block;
  margin-bottom: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 7px 15px #3f51b5;
}
.container_header h2{
  display: inline;
  color: #fff;
  font-size: 20px;
}
.container_header a{
  float: right;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
}
.container_header a:hover{
  position: relative;
  left: 3px;
}
.products{
  width: 220px;
  height: 45vh;
  padding: 0px 0px 10px 10px;
  border-radius: 5px;
  float: left;
  margin-left: 15px;
  cursor: pointer;
}
.products:hover{
  box-shadow: 5px -5px 10px 3px #222;
}
.products img{
  width: 100%;
  height: 70%;
  border-radius: 5px;
}
.products h3{
  font-weight: bold;
  margin: 4px 0px;
}
