body{
  background-color: #eee;
}
.news_container * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    display: inline-block;
    font-family: sans-serif;
}
.news_container {
  width: 70%;
  margin: 0px auto;
  height: fit-content;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}
.header {
    width: 100%;
    height: 30px;
    border-bottom: 2px solid gray;
    padding: 5px;
}
.pre_lang, .sub {
    width: 500px;
    height: 180px;
    margin-top: 20px;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    float: left;
}
.lang_header, .sub_header {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid gray;
    padding-top: 8px;
    padding-left: 10px;
    font-size: large;
}
.eng_lang, .ar_lang {
    width: 50%;
    font-size: bolder;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 20px;
}
.eng_lang input, .ar_lang input {
    margin-right: 10px;
    background-color: #F68B1E;
}
.sub_opt {
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 5px;
}
.sub_opt input {
    margin-right: 10px;
}
.save_btn {
  height: 40px;
  width: 70%;
  margin: 20px auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  outline: none;
  font-size: larger;
  cursor: pointer;
  border-radius: 10px;
  background-color: #c33;
  color: #fff;
}
.save_btn:hover {
  background-color: #2E4566;
  transition: 1s;
  position: relative;
  top: 2px;
}
.unsub {
    width: 40%;
    height: 50px;
    margin: 0px 30%;
    margin-top: 15px;
    text-align: center;
    color: #000;
    padding-top: 15px;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
}
.unsub:hover {
    background-color: #0004;
    transition: 0.5s;
}
