.con_signin{
	position: fixed;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 450px;
	height: fit-content;
	background: #eeefff;
	border-radius: 25px;
	z-index: 999;
}
.label{
	text-align: center;
	padding: 10px 0px;
	font-size: 35px;
	color: black;
}
.login_form{
	text-align: center;
}
.login_form input{
	height: 35px;
	width: 350px;
	padding: 0 10px;
	font-size: 15px;
	outline: none;
	border: 1px solid silver;
	border-radius:32px;
	margin-bottom:13px;
	background-color:#ddd;
}
.login_form button{
	margin: 0px 0 0px 0;
	height: 40px;
	width: 350px;
	font-size: 20px;
	color: snow;
	outline: none;
	cursor: pointer;
	background: #2E4566;
	border-radius:32px;
	border: 1px solid #3949AB;
	transition: .5s;
}
.login_form button:hover{
	background: #536385;
}
.login_form #email_error2,
.login_form #pass_error2{
	margin-top: -10px;
	font-size: 12px;
	color: black;
	padding: 5px 8px;
	border-radius: 3px;
	display: block;
}
.item2{
	text-align:center;
}
.social_signin{
	text-align: center;
  width:100%;
  position:relative;
  bottom:0;
  height:40px;
}
.social_signin .fab {
  font-size: 30px;
	padding: 10px;
	width: 50px;
	margin-right: 5px;
  text-decoration: none;
  color: #344F96;
	background-color: #eeefff;
  border-radius: 100%;
  transition:1s;
	position: relative;
}
.social_signin .fab:hover{
	color: #fff;
	background:#000;
	}
.close_signin{
	width:38px;
	position:absolute;
	right:10px;
	top:15px;
	cursor:pointer;
	background:#EEEEEE;
	transition:1s;
	border-radius: 50%;
	position: relative;
	top: -30px;
	right: -100%;
}
.close_signin:hover{
	background:#c33;
}
.login_form_con{
	position: relative;
	display: none;
}
.showlogin{
	display: block;
}
#black3{
  width: 100vw;
  height: 100vh;
  background-color: #000c;
  position: fixed;
  top: 0px;
  z-index: 99;
	}
